<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>scattterPolar Depth</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">Home</a>
    </div>
  </nav>



    <div class = 'container '>
        <div class = 'row'>
            
            <div class = 'col-md-4'>
                <h2>Spotify Feature Descriptions</h1>
                <h4 class = 'background'></h4>Beats Per Minute (BPM) - The tempo of the song. 
                    <br>
                    Energy - The energy of a song - the higher the value, the more energtic.<br>
                    Danceability - The higher the value, the easier it is to dance to this song. <br>
                    Loudness - The higher the value, the louder
                    the song. 
                    <br>
                    Valence - The higher the value, the more positive mood for the song. <br>
                    Acoustic - The higher the value the more acoustic the song is.
                </h4>      
            </div>
            
        </div>
    
    
    <div class = 'row'>
       <div class = 'col-md-12' >
        <h2 class = 'text-center'>Extension</h4>
        <div id="scatterPolar"></div>
       </div>
    </div>
        
    
    </div>




    <script src="{{ url_for('static', filename='js/server.js') }}"></script>
  

</body>
</html>