body {
    background-color: lightgray;
    padding-bottom: 50px;
    padding: 0;
    margin: 0;
}


h2 {
     color: rgb(0, 0, 0);
     background-color: white;
     font-family: times new roman;
     font-weight: bold;
}


h5 {
  color: rgb(0, 0, 0);
  background-color: white;
  /* font-family: times new roman; */
  font-weight: bold;
}

h3 {
     color: rgb(0, 0, 0);
     background-color: white;
     font-family: times new roman;
     font-weight: bold;
}

img {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

p {
   font-family: sans-serif;
   font-size: 12
}


.container {
  background-color: white;
  padding-bottom: 30px;
}

.navbar {
  padding-left: 50px;
}

.navbar-brand {
  /* background-color: rgb(0, 0, 0); */
  font-family: times new roman;
  font-weight: bold;
  color: white;
}



/* Here we define a navbar style that will ONLY be applied at screen sizes below 480 pixels */
@media (max-width: 180px) {
  .navbar {
    background-color: rgb(38, 3, 3);
}

  .navbar-brand {
    background-color: white;
    font-family: times new roman;
    font-weight: bold;
    color: rgb(38, 3, 3);
}

#background {
  text-align: center;
}


#map,
body,
ul,
p,
html {
  height: 87%;
  background: rgb(24,26,26);
  color: #01FF70
}
#padding {
  padding: 10
}